.taxa-efetiva-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 20px;
    background-color: #F7F7F7;
    box-shadow: 5px 5px 10px #8f8ab1;
}

.taxa-efetiva-container h1{
    color: #580EF6;
    margin-bottom: 1rem;
}

.taxa-efetiva-data-input{
    padding: 0.5rem;
}

.taxa-efetiva-data-input label{
    padding-right: 1rem;
    font-size: large;
} 

.taxa-efetiva-data-input input{
    float: right;
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3D3A50;
    text-align: center;
    font-weight: thin;
    font-style: italic;
    cursor: pointer;
}

.taxa-efetiva-container input:focus{
    box-shadow: 0px 0px 10px #3D3A50;
    outline: none
}

.taxa-efetiva-container button{
    margin-top: 1rem;
    width: 90%;
    padding: 0.5rem;
    font-size: large;
    color: #f7f7f7;
    letter-spacing: 2px;
    background-color: #580ef6;
    border-radius: 25px;
    border: none;
    transition: all 0.2s;
    cursor: pointer;
}

.taxa-efetiva-container button:hover{
    box-shadow: 2px 2px 8px #580ef6;
}